* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 210px;
    height: 110px;
}
.menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;

}
nav ul {
    display: flex;
}
nav li {
    margin: 0 10px;
}
nav a {
    display: block;
    padding: 15px;
    margin-top: 0px;
    text-decoration: none;
    text-transform: uppercase;
    color: #777;
    font-family: Arial;
}

nav a:hover {
    background-color: white;
    color: black;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/main_background.png');
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner_headline h1 {
    color: white;
    font-size: 50px;
    text-shadow: 0 1px 0 black;
}

